head{
    display: flex;
    justify-content: center;
    text-align: center;
    width: max-content;
}

body{
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: monospace;
    background-color: blanchedalmond;
    background-image: url("img/Users/jamiejobson/Desktop/csamandolinoragne20_0082-1024x683.jpg");
}

nav{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    background-color: crimson;
    font-family: monospace;
    font-size: 20px;
}

nav a{
    width: 20vw;
    text-align: center;
    text-decoration: none;
    color: black;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid crimson;
    border-radius: 20px;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.header{
    padding: 60px;
    text-align: center;
    background: honeydew;
    color: black;
    font-size: 30px;
    font-family: monospace;
    border: solid 5px crimson;
}

#div1{
  border: 5px solid paleturquoise; 
  background-color: honeydew;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#div2{
    border: 5px dotted crimson;
    background-color: honeydew;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#div3{
    border: 5px dotted crimson;
    background-color: honeydew;
    text-align: center;    
    padding-left: 20px;
    padding-right: 20px;
}

#div4{
    border: 5px dotted crimson;
    background-color: honeydew;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

#div5{
    border: 5px dotted crimson;
    background-color: honeydew;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

#div6{
    border: 5px dotted crimson;
    background-color: honeydew;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

#div7{
    border: 5px dotted crimson;
    background-color: honeydew;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

#div8{
    border: 5px dotted crimson;
    background-color: honeydew;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#div9{
    border: 5px dotted crimson;
    background-color: honeydew;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

#div10{
    border: 5px dotted crimson;
    background-color: honeydew;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}


@media screen and (max-width: 500px) {
    body{
        background-color: thistle;
    }

    .div-wrapper{
        display: flex;
        flex-direction: column;
    }

    div {
        font-size: 2.5vw;
    }
}

