body {
    font-family: monospace;
    width: 350px;
    background-color: honeydew;
    margin-left: 40vw;
    margin-top: 8vw;
  }

  label {
    font-weight: bold;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: lavender;
    color: #5e2612;
    padding: 10px;
    visibility: hidden;
    border: solid 5px
  }

